<header>
   <div class="container container--main">
      <div class="logo">
         <a href="./index.php">
            <img src="./img/logo.png" alt="">
         </a>
      </div>
      <nav>
         <ul class="header-menu-nav">
            <a href="./index.php">
               <li>Главная</li>
            </a>
            <a href="./production.php">
               <li>Каталог</li>
            </a>
            <a href="./about.php">
               <li>О компании</li>
            </a>
            <a href="./sale-points.php">
               <li>Точки продаж</li>
            </a>
            <a href="./contacts.php">
               <li>Контакты</li>
            </a>
         </ul>
      </nav>
      <div class="header-menu__icon">
         <span></span>
         <span></span>
         <span></span>
      </div>
      <div class="header-menu"></div>
   </div>
</header>